@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #04513c;
  --color-secondary: #84cb27;

  --breakpoint-ss: 450px;

  --font-montserrat: "Montserrat", sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  @apply bg-white text-neutral-900 dark:bg-black dark:text-neutral-100;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
