---
import { Contact, Home, Profile, Projects, Skills } from "../components";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio Jesus Ospino">
	<main>
		<section id="home" class="section-page h-screen">
			<Home />
		</section>
		<section id="profile" class="section-page">
			<div class="container grid grid-cols-1 md:grid-cols-2 gap-[50px]">
				<Profile />
				<Skills />
			</div>
		</section>
		<section
			id="projects"
			class="section-page section-page-margen bg-[#f2f2f2]"
		>
			<Projects />
		</section>
		<section id="services" class="section-page section-page-margen">
			<Services />
		</section>
		<section
			id="contact"
			class="section-page section-page-margen bg-[#f2f2f2]"
		>
			<Contact />
		</section>
	</main>
</Layout>

<style>
	#profile,
	#services,
	#projects,
	#contact {
		padding-bottom: 50px !important;
	}

	@media (width <= 768px) {
		#contact {
			padding-bottom: 90px !important;
		}
	}
</style>
