---
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/Portafolio/images/logos/icon-f.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<script>
	window.addEventListener("scroll", () => {
		const sections = document.querySelectorAll("section");
		const links = document.querySelectorAll("nav a");

		let currentSection: any = "";

		sections.forEach((section) => {
			const sectionTop = section.offsetTop;
			const sectionHeight = section.offsetHeight;

			if (
				window.scrollY >= sectionTop - sectionHeight / 2 &&
				window.scrollY < sectionTop + sectionHeight
			) {
				currentSection = section.getAttribute("id");
			}
		});

		links.forEach((link) => {
			if (link.getAttribute("href")?.slice(1) === currentSection) {
				link.classList.add("menu-active");
			} else {
				link.classList.remove("menu-active");
			}
		});
	});
</script>

<style is:global>
	@font-face {
		font-family: Montserrat;
		src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Montserrat;
		scroll-behavior: smooth;
	}

	.container {
		@apply w-full px-2 mx-auto;
		@apply md:w-[90%] md:px-0;
	}

	.section-page {
		@apply w-full md:w-full pb-[70px] md:pt-[70px] md:pb-0;
	}

	.section-page-margen {
		@apply pt-[70px];
	}

	.content-title {
		@apply px-[25px] mx-auto w-fit border-b-2 border-secondary border-solid;
	}

	.content-title-2 {
		@apply md:w-full p-0;
	}

	.content-title-2 .title,
	.content-title .title {
		@apply text-[20px] sm:text-[22px] text-primary font-extrabold;
	}

	.menu-active {
		@apply bg-secondary text-white;
		@apply md:border-b-2 md:border-secondary md:border-solid md:bg-transparent md:text-primary;
	}
</style>
